@import "../variables.module.scss";

.card {
  transform-style: preserve-3d;
  transform: perspective(10000px) rotateY(var(--rotateX))
    rotateX(var(--rotateY));
  background-color: transparent;
  color: $on-background-color;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;

  &:hover {
    .card__header__image {
      border-radius: 0;
      width: 100%;
      outline: none;
      transition: border-radius 0.5s ease-in, width 0.5s 0.5s ease-in-out;

      @media (prefers-reduced-motion) {
        width: 100px;
        outline: 5px solid $background-color;
        border-radius: 50%;
        @include transitionAll;
        transform: scale(1.1);
      }
    }
  }

  &__header {
    grid-row: 1 / 3;
    grid-column: 1;
    display: grid;
    grid-template-rows: subgrid;

    &__image {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      transition: width 0.5s 0s ease-in-out, border-radius 0.5s 0.5s ease-out;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      outline: 5px solid $background-color;

      @media (prefers-reduced-motion) {
        transition: transform 1s ease-in-out;
      }

      img {
        object-fit: cover;
      }
    }
  }

  &__content {
    grid-row: 2 / 4;
    grid-column: 1;
    background: linear-gradient(
      180deg,
      rgba($tertiary-color, 0.85),
      rgba($background-color, 0.7)
    );
    text-align: center;
    padding: 60px 1rem 1rem 1rem;
    @include roundedBorder;
  }

  h2 {
    color: $secondary-color;
    text-align: center;
  }

  h3,
  h4 {
    font-weight: 400;
    color: lighten($secondary-color, 35);
    margin-bottom: 1rem;
  }

  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }
}
