@import "../variables.module.scss";

.card {
  background-color: transparent;
  color: $on-background-color;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;

  &__header {
    grid-row: 1 / 3;
    grid-column: 1;
    display: grid;
    grid-template-rows: subgrid;

    &__image {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      outline: 5px solid $background-color;
    }
  }

  &__content {
    grid-row: 2 / 4;
    grid-column: 1;
    background-color: $background-color;
    padding: 1rem;
  }

  h2 {
    color: $secondary-color;
  }

  h3,
  h4 {
    font-weight: 400;
    color: lighten($secondary-color, 35);
  }

  h2,
  h3,
  h4 {
    text-transform: uppercase;

    &:not(&:first-child) {
      margin-top: 1em;
    }
  }
}
