@import "../variables.module";

.hero {
  background: url("/images/dragons-bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(0.9);
  padding: 5rem 0;

  .hero__content {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.7rem;
    text-shadow: 1px 1px 2px $primary-color-900;
  }
}
