@import "../variables.module";

.modal {
  z-index: 10;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  opacity: 0;
  @include transitionAll;
  pointer-events: none;

  &.modal__show {
    opacity: 1;
    pointer-events: visible;

    .modal__content {
      transform: translateY(0);
    }
  }

  .modal__content {
    transform: translateY(-200px);
    place-self: center;
    background: $tertiary-color;
    @include transitionAll;

    .modal__header {
      padding: 1rem;
      color: $secondary-color;
    }

    .modal__body {
      padding: 1rem;
      color: $on-background-color;
      border-top: 1px solid darken($tertiary-color, 5);
      border-bottom: 1px solid darken($tertiary-color, 5);
    }

    .modal__footer {
      padding: 1rem;
      @include flex;
    }
  }
}

@media (prefers-reduced-motion) {
  .modal {
    .modal__content {
      transform: translateY(0);
    }
  }
}
