@import '@/styles/variables.module';

.create__layout {
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 1fr;
    gap: 2rem;
}

.create__attributes__card {
    display: flex;
    justify-content: space-between;
}