@import '@/styles/variables.module';

.error {
    @include errorMessage;
}

.create__layout {   
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 1fr;
    gap: 2rem;

    .character__creation__form {
        position: relative;

        select {
            font-size: 1rem;
            padding: 0.4rem 2rem 0.4rem 1rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-512.png') no-repeat 95% 50%;
            filter: invert(1);
            background-size: 20px;
            background-color: #f5cebc;
            color: $primary-color-900;
            font-weight: 700;
            border: none;
            font-family: 'Roboto Condensed', sans-serif;
          }
          
          select:hover, select:focus {
            border-color: $secondary-color;
            outline: none;
          }
          
          select option {
            background-color: #fff;
            color: #333;
          }

        .character__creation__form__column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;

            label {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                line-height: 18px;
                padding-left: 25px;
                cursor: pointer;

                &:hover {
                    color: lighten($secondary-color, 35);
                }
            }

            input[type=radio] {
                display: none;
            }
              
            input[type=radio] + label::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                margin-right: 1rem;
                border: 2px solid $primary-color-900;
                outline: 2px solid lighten($secondary-color, 25);
                border-radius: 50%;
            }
            
            input[type=radio]:checked + label::before {
                background-color: lighten($secondary-color, 25);
                border: 2px solid $primary-color-900;
                outline: 2px solid lighten($secondary-color, 25);
            }
        }

        .create__form__buttonRow {
            margin: 2rem 0;
            display: flex;
            gap: 1rem;

            button, .create__form__buttonRow__button {
                @include buttonPrimary;
                @include transitionAll;
                background-size: 400%;

                &:hover {
                    background-image: linear-gradient(to right, $secondary-color, darken($secondary-color, 35)); 
                    animation: gradient-animation 4s ease-in-out infinite;
                }
                
                @media (prefers-reduced-motion: reduce) {
                    &:hover {
                      animation: none; 
                    }
                  }

                @keyframes gradient-animation {
                    0% {
                      background-position: 0% 50%;
                    }
                    50% {
                      background-position: 100% 50%;
                    }
                    100% {
                      background-position: 0% 50%;
                    }
                  }
            }

            .create__form__buttonRow__button {
                background-color: $tertiary-color;

                &:hover {
                    background: $secondary-color;
                    animation: none; 
                }
            }
        }

        h3 {
            text-transform: uppercase;
            margin: 0 0 1rem 0;
            text-align: center;
            color: lighten($secondary-color, 35);
            position: relative;
        }

        .character__creation__form__method {
            padding: 0 0 1rem 0;
            select {
                width: 150px;
            }
        }

        .create__form__abilities {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 0.5rem;
            
            .create__form__abilities__ab {
                display: flex;
                gap: 0.5rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        
            select {
                width: 75px;
            }
            
        }
    }

    
}

.create__attributes__card {
    display: flex;
    justify-content: space-between;
}