@import './variables.module';

.character__list {
    color: $on-background-color;
    max-width: 72rem;
    margin: 0 auto;

    ul {
        list-style-type: none;
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    
        .character__card {
            @include roundedBorder;
            border: 1px solid rgba($secondary-color, 0.2);
            background: linear-gradient(
                $background-color, 
                darken($secondary-color, 44));
            max-width: 300px;

            .character__card__header {
                padding: 0.8rem;
                background: darken($background-color, 5);

                h2 {
                    color: $secondary-color;
                }
            }

            .character__card__content {
                padding: 0.8rem;

                .character__card__abilities {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                    & > * {
                        flex-basis: calc(33% - 0.5rem);
                    }

                    li {
                        color: lighten($secondary-color, 25);
                    }

                    li > span {
                        color: $on-background-color;
                        font-weight: 700;
                    }
                }

                .buttonRow {
                    @include flex;
                    margin-top: 2rem;
                }
            }
        }
    }
}