@import './variables.module';

.dot {
    @include dot;
}

.filledDot {
    @include filledDot;
}

.characterSheet {
    max-width: 1200px;
    margin: 1rem auto;
    line-height: 1.4;

    .characterSheet__intro {
        @include flex;

        .characterSheet__details {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }
    }

    .characterSheet__main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;

        &__left {
            @include flex;

            & > div:first-child {
                min-width: 20%;
            }

            & > div:last-child {
                flex-grow: 1;
            }

            &__area {
                padding-bottom: 1rem;
            }

            &__flex {
                @include flex;
                align-items: center;

                & > div:nth-child(2) {
                    width: 60%;
                }

                & > div:last-child {
                    width: 20%;
                    text-align: right;
                }
            }
        }
    }
}