@import 'variables.module';

.create__tabs {   
    .create__tabs__tab {
        .create__tabs__tab__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;
            background: linear-gradient(15deg, $primary-color-900, lighten($primary-color-900, 3));
            margin: 1rem 0;
            @include roundedBorder;

            h3 {
                text-transform: capitalize;
            }
        }
    }
}