@import './variables.module';

.main {
    background-color: $tertiary-color;
    
    .create__topbar {  
        padding: 0.6rem; 
        max-width: 1024px;
        margin: 0 auto;
        text-align: center;
        
        ul {
            li {
                display: inline;
                padding: 1rem;
            }
        }
    }
}
