@import './variables.module';

.characterList {
    display: grid;
    gap: 1rem;
    color: $on-background-color;

    .characterCard {
        @include roundedBorder;
        
        background: linear-gradient(
            $background-color, 
            darken($secondary-color, 44));
        max-width: 300px;
        padding: 1rem;

        h3 {
            margin-block-end: 1rem;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            gap: 0.5rem;

            & > * {
                flex-basis: calc(33% - 0.5rem);
            }

            li {
                color: lighten($secondary-color, 25);
            }

            li > span {
                color: $on-background-color;
                font-weight: 700;
            }
        }

        .buttonRow {
            @include flex;
            margin-top: 2rem;
        }
    }
}