* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  min-height: 100svh;
  background:  radial-gradient(at 40% 69%, hsla(200,46%,11%,1) 0px, transparent 50%),
  radial-gradient(at 100% 100%, hsla(0,47%,11%,1) 0px, transparent 50%),
  radial-gradient(at 3% 5%, hsla(0,72%,11%,1) 0px, transparent 50%),
  radial-gradient(at 44% 4%, hsla(200,47%,11%,1) 0px, transparent 50%);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @media (prefers-reduced-motion) {
    animation: gradient 125s ease infinite;
  }
}

section {
  max-width: 1200px;
  margin: 2rem auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.active-nav-link {
  background-color: hsl(0, 2%, 17%);
  color: hsl(12, 5%, 81%);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
