@import './variables.module';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  min-height: 100svh;
  background:  radial-gradient(at 40% 69%, hsla(200,46%,5%,1) 0px, transparent 50%),
  radial-gradient(at 100% 100%, hsla(0,47%,11%,1) 0px, transparent 50%),
  radial-gradient(at 3% 5%, hsla(0,72%,11%,1) 0px, transparent 50%),
  radial-gradient(at 44% 4%, hsla(200,47%,5%,1) 0px, transparent 50%);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @media (prefers-reduced-motion) {
    animation: gradient 125s ease infinite;
  }
}

p {
  margin: 0 0 0.5rem 0;
  color: $on-background-color;
}

section {
  max-width: 1200px;
  margin: 2rem auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.active-nav-link {
  background-color: hsl(0, 2%, 17%);
  color: hsl(12, 5%, 81%);
}

select {
  background: transparent url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-512.png') no-repeat 95% 50%;
  filter: invert(1); // HACK: Make the icon white
  background-size: 20px;
  background-color: #f5cebc;
  color: $primary-color-900;
  border: none;
}

input, textarea { 
  color: $on-background-color;
  background: $tertiary-color;
  border: 1px solid $tertiary-color;
}

select, input, textarea {
  font-size: 1rem;
  padding: 0.4rem 2rem 0.4rem 1rem;
  @include roundedBorder;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}

select option {
  background-color: #fff;
  color: #333;
}

input[type=text]:disabled {
  margin: -0.5rem 0 1rem 0;
  background-color: $tertiary-color;
  padding: 0.5rem;
  width: 50px;
  text-align: center;
  font-weight: 700;
  border: none;
}

textarea {
  --line-height: 16px;
  width: 100%;
  height: calc(5 * var(--line-height)); 
}              

input[type=radio] {
  display: none;
}

input[type=radio] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin-right: 1rem;
  border: 2px solid $primary-color-900;
  outline: 2px solid lighten($secondary-color, 25);
  border-radius: 50%;
}

input[type=radio]:checked + label::before {
  background-color: lighten($secondary-color, 25);
  border: 2px solid $primary-color-900;
  outline: 2px solid lighten($secondary-color, 25);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
