@import './variables.module';

.hero {
    background: url('/images/wave.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;


    .hero__content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 4rem;
        width: 600px;
        padding: 3rem 0;
        font-size: 1.7rem;
        text-shadow: 1px 1px 2px $primary-color-900;
    }
}