@import "variables.module";

.layout {
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: auto;
  row-gap: 1rem;
}

@include mediaXL {
  .layout {
    grid-template-columns: 2fr 8fr 2fr;
    row-gap: 2rem;
  }
}

.main {
  font-size: $fs-000;

  h2 {
    font-size: $fs-400;
  }

  h3 {
    font-size: $fs-300;
  }

  h4 {
    font-size: $fs-200;
  }

  h5 {
    font-size: $fs-100;
  }
}
