// Colors
$primary-color-900: hsl(0, 9%, 9%);
$primary-color-800: hsl(0, 2%, 17%);
$primary-color-700: hsl(0, 3%, 26%);
$primary-color-600: hsl(0, 2%, 49%);
$primary-color-500: hsl(0, 2%, 60%);
$primary-color-400: hsl(0, 3%, 70%);
$primary-color-300: hsl(12, 5%, 81%);
$primary-color-200: hsl(12, 10%, 90%);
$primary-color-100: hsl(15, 22%, 96%);

$secondary-color: hsl(198, 72, 50, 100%);

$background-color: hsl(216, 23%, 13%);
$on-background-color: hsl(0, 0%, 98%);

$tertiary-color: hsl(199, 74%, 15%);

$success: hsl(124, 55%, 24%);
$failure: hsl(0, 73%, 42%);
$warning: hsl(27, 100%, 47%);

// Borders
@mixin roundedBorder {
  border-radius: 4px;
}

@mixin transitionAll {
  transition: all 500ms ease-in;
}

@mixin boxShadow {
  box-shadow: rgba(7, 1, 1, 0.856) 1px 1px 4px;
}

@mixin buttonPrimary {
  @include roundedBorder;
  background-color: $secondary-color;
  border: none;
  width: 100px;
  text-align: center;
  color: $on-background-color;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

@mixin errorMessage {
  @include roundedBorder;
  margin: 1rem 0;
  font-size: 1.1rem;
  background-color: $failure;
  color: $on-background-color;
  padding: 1rem;
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}