// Colors
$primary-color-900: hsl(0, 9%, 9%);
$primary-color-800: hsl(0, 2%, 17%);
$primary-color-700: hsl(0, 3%, 26%);
$primary-color-600: hsl(0, 2%, 49%);
$primary-color-500: hsl(0, 2%, 60%);
$primary-color-400: hsl(0, 3%, 70%);
$primary-color-300: hsl(12, 5%, 81%);
$primary-color-200: hsl(12, 10%, 90%);
$primary-color-100: hsl(15, 22%, 96%);

$primary-color: hsl(23, 76%, 49%);
$secondary-color: hsl(198, 72, 50, 100%);

$background-color: hsl(216, 23%, 13%);
$on-background-color: hsl(240, 20%, 90%);

$tertiary-color: hsl(199, 74%, 15%);

$success: hsl(124, 55%, 24%);
$failure: hsl(0, 73%, 42%);
$warning: hsl(27, 100%, 47%);

$fs--200: clamp(0.61rem, calc(0.6rem + 0.03vw), 0.64rem);
$fs--100: clamp(0.73rem, calc(0.72rem + 0.07vw), 0.8rem);
$fs-000: clamp(0.88rem, calc(0.85rem + 0.12vw), 1rem);
$fs-100: clamp(1.05rem, calc(1.01rem + 0.19vw), 1.25rem);
$fs-200: clamp(1.26rem, calc(1.2rem + 0.29vw), 1.56rem);
$fs-300: clamp(1.51rem, calc(1.43rem + 0.43vw), 1.95rem);
$fs-400: clamp(1.81rem, calc(1.69rem + 0.6vw), 2.44rem);
$fs-500: clamp(2.18rem, calc(2.01rem + 0.84vw), 3.05rem);

// Borders
@mixin roundedBorder {
  border-radius: 6px;
}

@mixin transitionAll {
  transition: all 500ms ease-in;
}

@mixin boxShadow {
  box-shadow: rgba(7, 1, 1, 0.856) 1px 1px 4px;
}

@mixin flex {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

@mixin backgroundArea {
  position: relative;
  background: linear-gradient(
    rgba($tertiary-color, 0.3) 20%,
    rgba($tertiary-color, 0.1)
  );
  border: 1px solid rgba($tertiary-color, 0.4);
  min-height: 250px;
  padding: 1rem 2rem;
}

@mixin textHighlight {
  color: lighten($secondary-color, 30);
  text-transform: uppercase;
  font-size: 0.7rem;
}

@mixin dot {
  border-radius: 50%;
  outline: 2px solid $on-background-color;
  width: 13px;
  height: 13px;
}

@mixin filledDot {
  @include dot;
  border: 3px solid $tertiary-color;
  background-color: $secondary-color;
}

@mixin buttonPrimary {
  @include roundedBorder;
  background-color: $secondary-color;
  border: none;
  text-align: center;
  color: $on-background-color;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
}

@mixin errorMessage {
  @include roundedBorder;
  margin: 1rem 0;
  font-size: 1.1rem;
  background-color: $failure;
  color: $on-background-color;
  padding: 1rem;
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
