@import "../variables.module";

.character__list {
  color: $on-background-color;
  max-width: 1024px;

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;

    .buttonRow {
      @include flex;
      margin-top: 2rem;
    }
  }
}
